<head>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" type="text/css" rel="stylesheet">

  <link href="vendor/flexslider/flexslider.css" rel="stylesheet" type="text/css">

  <link href="css/main.css" rel="stylesheet" type="text/css">
    
    <script src="//use.typekit.net/kub5inm.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    
    <style type="text/css">
    body {
        font-family: "proxima-nova", helvetica, arial, sans-serif;
    }
    </style>

   
</head>
