<section class="container-fluid first measured" id="intro-container">
  <div class="container">
    <h1>Creating a world without boundaries</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed vulputate dui, non ultricies massa. Sed tellus sem, dictum eget pulvinar id, pulvinar nec elit. Pellentesque nisi augue, pretium vel felis vitae, posuere hendrerit tellus. Maecenas malesuada magna porttitor.</p>
      <p><img src="images/intro-logos.png" alt="eBay and The Opportunity Project"></p>
  </div>
</section>