<section class="container-fluid first measured" id="intro-container">
  <div class="container">
    <h1>Creating a world without boundaries</h1>
    <p>The Opportunity Project has partnered with Kolabo, an organization helping<br>
      entrepreneurs in Indonesia bring their businesses online for the first time.</p>

    <p style="margin-top: 15px;">We invite you to watch a video about our partnership and then explore<br>the video stories of three of Kolabo’s entrepreneurs.</p>
      <p><a href="http://theopportunityproject.org/" target="_blank" class="intro-logos"><img src="{{ 'images/intro-logos.png' | prepend: site.baseURL | prepend: site.assets}}" alt="eBay and The Opportunity Project"></a></p>
      <p><a href="javascript: void(0);" class="explore-btn"
        onclick="ga('send', 'event', 'SI Explore Button', 'click', 'Back to Top');">Back to top</a></p>
  </div>
</section>
