<section class="container-fluid first measured" id="intro-container">
  <div class="container">
    <h1>Creating a world without boundaries</h1>
    <p>Now more than ever, we see the power of an interconnected world to create more opportunity for more people. Through The Opportunity Project, we support innovators using technology to help build a more open and inclusive global economy. We invite you to learn about one of our partners, Kolabo, through the stories of three entrepreneurs in Jakarta, Indonesia who are bringing their businesses online for the first time.</p>
      <p><img src="images/intro-logos.png" alt="eBay and The Opportunity Project"></p>
  </div>
</section>