<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
        <div class="header-wrapper">&nbsp;</div>
      </div>
      <div class="modal-body">
        <div class="modal-video-container video-container">
          <div id="modal-video"></div>
        </div>
      </div>
    </div>
  </div>
</div><!-- end Modal -->
