{% if site.sections %}

{% for project in site.sections %}

<section class="second container-wrapper measured" id="{{project.nicename}}-container">
    <div class="backdrop container-fluid">
      <div class="container">

          {% if project.bubbles %}
          <div class="{% if project.bubbles.size > 1 %}bubble-slider {% endif %}bubbles-wrapper">
        <ul class="bubbles slides">
            {% for bubble in project.bubbles %}
            {% if bubble.video %}
            <li><a class="bubble bubble-{{forloop.index}}" data-target="{{project.nicename}}-player" data-video="{{bubble.video}}">
            {% else %}
            <li><a class="bubble bubble-{{forloop.index}}" data-target="#{{project.nicename}}-slideshow" data-slideshow="{{bubble.slideshow}}">
              {% endif %}
            <div class="align">
              <h4>{{bubble.header}}</h4>
              <!--p>{{bubble.subhead}}</p-->
              <p><img src="images/{{bubble.button}}.png" alt="{{bubble.button}}" class="{{bubble.button}} hidden-xs"></p>
              <p class="no-margin"><img src="images/mobile-play.png" alt="{{bubble.button}}" class="play-button {{bubble.button}} visible-xs"></p>
            </div>
          </a></li>
            {% endfor %}
        </ul>
          </div>
          {% endif %}

          <div class="text">
            {% if project.nicename == 'kolabo' %}
            <h1><img src="images/meet-{{project.nicename}}.png" alt="Meet {{project.name}}" class="hidden-xs"></h1>
            <h1><img src="images/meet-{{project.nicename}}-mobile.png" alt="Meet {{project.name}}" class="visible-xs"></h1>
            {% else %}
            <h1><img src="images/meet-{{project.nicename}}.png" alt="Meet {{project.name}}"></h1>
            {% endif %}
            {{project.content}}
          </div>

        <div class="video-container" id="{{project.nicename}}-player">

        </div>

        <div class="close--button"></div>

        <div class="slideshow-container" id="{{project.nicename}}-slideshow">

        </div>

      </div>
    </div>
</section>

{% endfor %}

    {% endif %}
