{% if site.sections %}

{% for project in site.sections %}

<section class="second container-wrapper measured" id="{{project.nicename}}-container">
    <div class="backdrop container-fluid">
      <div class="container">

          {% if project.bubbles %}
          <div class="{% if project.bubbles.size > 1 %}bubble-slider {% endif %}bubbles-wrapper">
        <ul class="bubbles slides">
            {% for bubble in project.bubbles %}
            {% if bubble.video %}
            <li><a class="bubble constrain bubble-{{forloop.index}}"
              href="#video-{{bubble.video | escape}}"
              onclick="ga('send', 'event', 'SI TOP Video', 'click', '{{bubble.header | escape}}');"
               data-target="{{project.nicename}}-player" data-video="{{bubble.video}}">
            {% else %}
            <li><a class="bubble constrain bubble-{{forloop.index}}"
                  href="#video-{{bubble.video | escape}}"
                  onclick="ga('send', 'event', 'SI TOP Special Content', 'click', '{{bubble.header | escape}}');"
               data-target="#{{project.nicename}}-slideshow" data-slideshow="{{bubble.slideshow}}">
              {% endif %}
            <div class="align">
              <h4>{{bubble.header}}</h4>
              <!--p>{{bubble.subhead}}</p-->
              <p><img src="{{ 'images/' | append: bubble.button | prepend: site.baseURL | prepend: site.assets }}.png" alt="{{bubble.button}}" class="{{bubble.button}} hidden-xs hidden-sm"></p>
              <p class="no-margin"><img src="{{ 'images/mobile-play.png' | prepend: site.baseURL | prepend: site.assets }}" alt="{{bubble.button}}" class="play-button {{bubble.button}} visible-xs visible-sm"></p>
            </div>
          </a></li>
            {% endfor %}
        </ul>
          </div>
          {% endif %}

          <div class="text">
            {% if project.nicename == 'kolabo' %}
            <h1 style="font-weight:100;">{{project.title}}</h1>
            {% else %}
            <h1><img src="{{ 'images/meet-' | append: project.nicename | prepend: site.baseURL | prepend: site.assets }}.png" alt="Meet {{project.name}}"></h1>
            {% endif %}
            {{project.content}}
          </div>

        <div class="video-container" id="{{project.nicename}}-player">

        </div>

        <div class="close--button"></div>

        <div class="slideshow-container" id="{{project.nicename}}-slideshow">

        </div>

      </div>
      {% if site.sections.size == forloop.index %}
      <footer style="height:60px;">
          <a href="javascript: void(0);" class="back-to-top"
          onclick="ga('send', 'event', 'SI TOP Button', 'click', 'Back to Top');">Back to top</a>
          <p style="text-align: center;" class="visible-xs visible-sm">
            <a class="share st_sharethis_custom" st_url="{{site.url}}" st_title="{{site.shareTitle}}" displayText="{{site.shareText}}"><img src="{{ 'images/share-button.png' | prepend: site.baseURL | prepend: site.assets }}" alt="Share"></a></p>
      </footer>
      {% endif %}

    </div>


</section>

{% endfor %}

    {% endif %}
