<!DOCTYPE html>
<html>

  {% include head.html %}

    <body data-spy="scroll" data-target="#side-nav" data-offset="120">

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46878227-2', 'auto');
    ga('send', 'pageview');

    </script>

    <div id="main">

        <div class="the-op">

            {% include nav.html %}

            {{ content }}

        </div>

    </div>

    {% include modal.html %}

    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "e850b1cd-2b87-4487-84d7-8cd77e998eed", doNotHash: true, doNotCopy: true, hashAddressBar: false, onhover:false});</script>

    <script>!function(){function e(e){e=e.replace(/[\[]/,"\\[").replace(/[\]]/,"\\]");var c=new RegExp("[\\?&]"+e+"=([^&#]*)"),t=c.exec(location.search);return null===t?"":decodeURIComponent(t[1].replace(/\+/g," "))}var c=document.createElement("script");c.setAttribute("src",e("embedScript")),document.body.appendChild(c)}();
    </script>



    </body>
</html>
