<style type="text/css">
.breadcrumbs ul li:nth-child(3) {display:none;}
</style>

<link href="http://broll.ebayinc.com/TOP/css/main.css" rel="stylesheet" type="text/css">

<div class="the-op">

  {% include nav.html %}

  {{ content }}

</div>

<div class="visible-xs"></div><div class="visible-sm"></div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
        <div class="header-wrapper">&nbsp;</div>
      </div>
      <div class="modal-body">
        <div class="video-container">
          <iframe allowfullscreen="" frameborder="0" height="510" src="//www.youtube.com/embed/xLEmBZ3vLSA" width="854"></iframe>
        </div>
      </div>
    </div>
  </div>
</div><!-- end Modal -->

<script src="/sites/all/modules/custom/ER_slideshow/flexslider.min.js?nhe7k5"></script>
<script type="text/javascript" src="http://broll.ebayinc.com/TOP/js/main.js"></script>
